*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;

}

a{
    color: #333333;
    text-decoration: none;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.topLink{
    margin: 10px;
}

#signin{
    background-color: royalblue;
    padding: 6px 10px;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

#topright{
    display: flex;
    align-items: center;
}

#buttons{
    margin: 15px;
}

.search{
    align-self: center;
    text-align: center;
}

footer{
    background-color: darkgray;
    padding: 10px;
}

.footLink{
    padding: 10px;
    font-size: 1rem;
}

#lastFooter{
    display: flex;
    justify-content: space-between;
}