*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    height: 100vh;
}

a{
    color: #333333;
    text-decoration: none;
}

.search a{
    text-decoration: underline;
    color: blue;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: #999999;
    font-size: 0.9em;
}

.topLink{
    margin: 10px;
}

#signin{
    background-color: royalblue;
    padding: 6px 10px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

#topright{
    display: flex;
    align-items: center;
}

.button{
    margin: 15px 5px;
    padding: 10px 15px;
    border: none;
    color: #777777;
    border-radius: 5px;
    font-size: 1em;
}

.button:active{
    
}

.search{
    align-self: center;
    text-align: center;
    font-size: 0.8em;
}

#searchBox{
    height: 3em;
    width: 400px;
    border-radius: 20px;
    border: 1px #888888 solid;
    margin: 20px 10px 10px 10px;
}

footer{
    background-color: #efefef;
    color: #777777;
    font-size: 0.8em;
    padding: 10px;

}

#footUp{
    padding: 10px;
}

.footLink{
    padding: 10px;
}

#lastFooter{
    display: flex;
    justify-content: space-between;
}